[**CTRF**](../README.md)

***

[CTRF](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types.ts:398](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L398)

Result of schema validation

## Properties

### valid

> **valid**: `boolean`

Defined in: [types.ts:400](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L400)

Whether the report is valid

***

### errors

> **errors**: [`ValidationErrorDetail`](ValidationErrorDetail.md)[]

Defined in: [types.ts:402](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L402)

Array of validation errors
