[**CTRF**](../README.md)

***

[CTRF](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types.ts:348](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L348)

Result of schema validation

## Properties

### errors

> **errors**: [`ValidationErrorDetail`](ValidationErrorDetail.md)[]

Defined in: [types.ts:352](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L352)

Array of validation errors

***

### valid

> **valid**: `boolean`

Defined in: [types.ts:350](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L350)

Whether the report is valid
