[**CTRF**](../README.md)

***

[CTRF](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: types.ts:348

Result of schema validation

## Properties

### errors

> **errors**: [`ValidationErrorDetail`](ValidationErrorDetail.md)[]

Defined in: types.ts:352

Array of validation errors

***

### valid

> **valid**: `boolean`

Defined in: types.ts:350

Whether the report is valid
