[**CTRF**](../README.md)

***

[CTRF](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types.ts:457](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L457)

Result of schema validation

## Properties

### valid

> **valid**: `boolean`

Defined in: [types.ts:459](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L459)

Whether the report is valid

***

### errors

> **errors**: [`ValidationErrorDetail`](ValidationErrorDetail.md)[]

Defined in: [types.ts:461](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L461)

Array of schema or semantic validation errors
