[**CTRF**](../README.md)

***

[CTRF](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types.ts:378](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L378)

Result of schema validation

## Properties

### valid

> **valid**: `boolean`

Defined in: [types.ts:380](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L380)

Whether the report is valid

***

### errors

> **errors**: [`ValidationErrorDetail`](ValidationErrorDetail.md)[]

Defined in: [types.ts:382](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L382)

Array of validation errors
