[**CTRF**](../README.md)

***

[CTRF](../globals.md) / ValidationResult

# Interface: ValidationResult

Defined in: [types.ts:412](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L412)

Result of schema validation

## Properties

### valid

> **valid**: `boolean`

Defined in: [types.ts:414](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L414)

Whether the report is valid

***

### errors

> **errors**: [`ValidationErrorDetail`](ValidationErrorDetail.md)[]

Defined in: [types.ts:416](https://github.com/ctrf-io/ctrf-js/blob/main/src/types.ts#L416)

Array of schema or semantic validation errors
