[**CTRF v0.0.18-next.1**](../../README.md)

***

[CTRF](../../README.md) / [index](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/reference/types.ts:348](https://github.com/ctrf-io/ctrf-core-js/blob/main/src/reference/types.ts#L348)

Result of schema validation

## Properties

### errors

> **errors**: [`ValidationErrorDetail`](ValidationErrorDetail.md)[]

Defined in: [src/reference/types.ts:352](https://github.com/ctrf-io/ctrf-core-js/blob/main/src/reference/types.ts#L352)

Array of validation errors

***

### valid

> **valid**: `boolean`

Defined in: [src/reference/types.ts:350](https://github.com/ctrf-io/ctrf-core-js/blob/main/src/reference/types.ts#L350)

Whether the report is valid
